In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
#dftrain=pd.read_csv("/Users/leenavig/Documents/SImplilearn Live class/Dataset for the project/train 2.csv")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
dftrain=pd.read_csv("/content/drive/MyDrive/PROJECTS_simplilearn/Mercedes_benz_train.csv")

In [4]:
dftrain.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
dftest=pd.read_csv("/content/drive/MyDrive/PROJECTS_simplilearn/mercedes_benz_test.csv")

In [6]:
dftrain.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [8]:
# to obtain the column heads and the number of unique entries/labels in each column 
dftrain.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [9]:
dftest.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [10]:
for col in dftrain:
    print(col, ";", len(dftrain[col].unique()),'labels')

ID ; 4209 labels
y ; 2545 labels
X0 ; 47 labels
X1 ; 27 labels
X2 ; 44 labels
X3 ; 7 labels
X4 ; 4 labels
X5 ; 29 labels
X6 ; 12 labels
X8 ; 25 labels
X10 ; 2 labels
X11 ; 1 labels
X12 ; 2 labels
X13 ; 2 labels
X14 ; 2 labels
X15 ; 2 labels
X16 ; 2 labels
X17 ; 2 labels
X18 ; 2 labels
X19 ; 2 labels
X20 ; 2 labels
X21 ; 2 labels
X22 ; 2 labels
X23 ; 2 labels
X24 ; 2 labels
X26 ; 2 labels
X27 ; 2 labels
X28 ; 2 labels
X29 ; 2 labels
X30 ; 2 labels
X31 ; 2 labels
X32 ; 2 labels
X33 ; 2 labels
X34 ; 2 labels
X35 ; 2 labels
X36 ; 2 labels
X37 ; 2 labels
X38 ; 2 labels
X39 ; 2 labels
X40 ; 2 labels
X41 ; 2 labels
X42 ; 2 labels
X43 ; 2 labels
X44 ; 2 labels
X45 ; 2 labels
X46 ; 2 labels
X47 ; 2 labels
X48 ; 2 labels
X49 ; 2 labels
X50 ; 2 labels
X51 ; 2 labels
X52 ; 2 labels
X53 ; 2 labels
X54 ; 2 labels
X55 ; 2 labels
X56 ; 2 labels
X57 ; 2 labels
X58 ; 2 labels
X59 ; 2 labels
X60 ; 2 labels
X61 ; 2 labels
X62 ; 2 labels
X63 ; 2 labels
X64 ; 2 labels
X65 ; 2 labels
X66 ; 2 labels
X67 ; 2 labels
X68 ; 2 labels
X69 ; 2 labels
X70 ; 2 labels
X71 ; 2 labels
X73 ; 2 labels
X74 ; 2 labels
X75 ; 2 labels
X76 ; 2 labels
X77 ; 2 labels
X78 ; 2 labels
X79 ; 2 labels
X80 ; 2 labels
X81 ; 2 labels
X82 ; 2 labels
X83 ; 2 labels
X84 ; 2 labels
X85 ; 2 labels
X86 ; 2 labels
X87 ; 2 labels
X88 ; 2 labels
X89 ; 2 labels
X90 ; 2 labels
X91 ; 2 labels
X92 ; 2 labels
X93 ; 1 labels
X94 ; 2 labels
X95 ; 2 labels
X96 ; 2 labels
X97 ; 2 labels
X98 ; 2 labels
X99 ; 2 labels
X100 ; 2 labels
X101 ; 2 labels
X102 ; 2 labels
X103 ; 2 labels
X104 ; 2 labels
X105 ; 2 labels
X106 ; 2 labels
X107 ; 1 labels
X108 ; 2 labels
X109 ; 2 labels
X110 ; 2 labels
X111 ; 2 labels
X112 ; 2 labels
X113 ; 2 labels
X114 ; 2 labels
X115 ; 2 labels
X116 ; 2 labels
X117 ; 2 labels
X118 ; 2 labels
X119 ; 2 labels
X120 ; 2 labels
X122 ; 2 labels
X123 ; 2 labels
X124 ; 2 labels
X125 ; 2 labels
X126 ; 2 labels
X127 ; 2 labels
X128 ; 2 labels
X129 ; 2 labels
X130 ; 2 labels
X131 ; 2 labels
X132 ; 2 labels
X133 ; 2 labels
X134 ; 2 labels
X135 ; 2 labels
X136 ; 2 labels
X137 ; 2 labels
X138 ; 2 labels
X139 ; 2 labels
X140 ; 2 labels
X141 ; 2 labels
X142 ; 2 labels
X143 ; 2 labels
X144 ; 2 labels
X145 ; 2 labels
X146 ; 2 labels
X147 ; 2 labels
X148 ; 2 labels
X150 ; 2 labels
X151 ; 2 labels
X152 ; 2 labels
X153 ; 2 labels
X154 ; 2 labels
X155 ; 2 labels
X156 ; 2 labels
X157 ; 2 labels
X158 ; 2 labels
X159 ; 2 labels
X160 ; 2 labels
X161 ; 2 labels
X162 ; 2 labels
X163 ; 2 labels
X164 ; 2 labels
X165 ; 2 labels
X166 ; 2 labels
X167 ; 2 labels
X168 ; 2 labels
X169 ; 2 labels
X170 ; 2 labels
X171 ; 2 labels
X172 ; 2 labels
X173 ; 2 labels
X174 ; 2 labels
X175 ; 2 labels
X176 ; 2 labels
X177 ; 2 labels
X178 ; 2 labels
X179 ; 2 labels
X180 ; 2 labels
X181 ; 2 labels
X182 ; 2 labels
X183 ; 2 labels
X184 ; 2 labels
X185 ; 2 labels
X186 ; 2 labels
X187 ; 2 labels
X189 ; 2 labels
X190 ; 2 labels
X191 ; 2 labels
X192 ; 2 labels
X194 ; 2 labels
X195 ; 2 labels
X196 ; 2 labels
X197 ; 2 labels
X198 ; 2 labels
X199 ; 2 labels
X200 ; 2 labels
X201 ; 2 labels
X202 ; 2 labels
X203 ; 2 labels
X204 ; 2 labels
X205 ; 2 labels
X206 ; 2 labels
X207 ; 2 labels
X208 ; 2 labels
X209 ; 2 labels
X210 ; 2 labels
X211 ; 2 labels
X212 ; 2 labels
X213 ; 2 labels
X214 ; 2 labels
X215 ; 2 labels
X216 ; 2 labels
X217 ; 2 labels
X218 ; 2 labels
X219 ; 2 labels
X220 ; 2 labels
X221 ; 2 labels
X222 ; 2 labels
X223 ; 2 labels
X224 ; 2 labels
X225 ; 2 labels
X226 ; 2 labels
X227 ; 2 labels
X228 ; 2 labels
X229 ; 2 labels
X230 ; 2 labels
X231 ; 2 labels
X232 ; 2 labels
X233 ; 1 labels
X234 ; 2 labels
X235 ; 1 labels
X236 ; 2 labels
X237 ; 2 labels
X238 ; 2 labels
X239 ; 2 labels
X240 ; 2 labels
X241 ; 2 labels
X242 ; 2 labels
X243 ; 2 labels
X244 ; 2 labels
X245 ; 2 labels
X246 ; 2 labels
X247 ; 2 labels
X248 ; 2 labels
X249 ; 2 labels
X250 ; 2 labels
X251 ; 2 labels
X252 ; 2 labels
X253 ; 2 labels
X254 ; 2 labels
X255 ; 2 labels
X256 ; 2 labels
X257 ; 2 labels
X258 ; 2 labels
X259 ; 2 labels
X260 ; 2 labels
X261 ; 2 labels
X262 ; 2 labels
X263 ; 2 labels
X264 ; 2 labels
X265 ; 2 labels
X266 ; 2 labels
X267 ; 2 labels
X268 ; 1 labels
X269 ; 2 labels
X270 ; 2 labels
X271 ; 2 labels
X272 ; 2 labels
X273 ; 2 labels
X274 ; 2 labels
X275 ; 2 labels
X276 ; 2 labels
X277 ; 2 labels
X278 ; 2 labels
X279 ; 2 labels
X280 ; 2 labels
X281 ; 2 labels
X282 ; 2 labels
X283 ; 2 labels
X284 ; 2 labels
X285 ; 2 labels
X286 ; 2 labels
X287 ; 2 labels
X288 ; 2 labels
X289 ; 1 labels
X290 ; 1 labels
X291 ; 2 labels
X292 ; 2 labels
X293 ; 1 labels
X294 ; 2 labels
X295 ; 2 labels
X296 ; 2 labels
X297 ; 1 labels
X298 ; 2 labels
X299 ; 2 labels
X300 ; 2 labels
X301 ; 2 labels
X302 ; 2 labels
X304 ; 2 labels
X305 ; 2 labels
X306 ; 2 labels
X307 ; 2 labels
X308 ; 2 labels
X309 ; 2 labels
X310 ; 2 labels
X311 ; 2 labels
X312 ; 2 labels
X313 ; 2 labels
X314 ; 2 labels
X315 ; 2 labels
X316 ; 2 labels
X317 ; 2 labels
X318 ; 2 labels
X319 ; 2 labels
X320 ; 2 labels
X321 ; 2 labels
X322 ; 2 labels
X323 ; 2 labels
X324 ; 2 labels
X325 ; 2 labels
X326 ; 2 labels
X327 ; 2 labels
X328 ; 2 labels
X329 ; 2 labels
X330 ; 1 labels
X331 ; 2 labels
X332 ; 2 labels
X333 ; 2 labels
X334 ; 2 labels
X335 ; 2 labels
X336 ; 2 labels
X337 ; 2 labels
X338 ; 2 labels
X339 ; 2 labels
X340 ; 2 labels
X341 ; 2 labels
X342 ; 2 labels
X343 ; 2 labels
X344 ; 2 labels
X345 ; 2 labels
X346 ; 2 labels
X347 ; 1 labels
X348 ; 2 labels
X349 ; 2 labels
X350 ; 2 labels
X351 ; 2 labels
X352 ; 2 labels
X353 ; 2 labels
X354 ; 2 labels
X355 ; 2 labels
X356 ; 2 labels
X357 ; 2 labels
X358 ; 2 labels
X359 ; 2 labels
X360 ; 2 labels
X361 ; 2 labels
X362 ; 2 labels
X363 ; 2 labels
X364 ; 2 labels
X365 ; 2 labels
X366 ; 2 labels
X367 ; 2 labels
X368 ; 2 labels
X369 ; 2 labels
X370 ; 2 labels
X371 ; 2 labels
X372 ; 2 labels
X373 ; 2 labels
X374 ; 2 labels
X375 ; 2 labels
X376 ; 2 labels
X377 ; 2 labels
X378 ; 2 labels
X379 ; 2 labels
X380 ; 2 labels
X382 ; 2 labels
X383 ; 2 labels
X384 ; 2 labels
X385 ; 2 labels

In [11]:
dftrain.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [12]:
# to drop the columns with minimum variance
single=[]
#print(dftrain.columns)
#print(len(dftrain[[columns=1).unique()))
for col in dftrain.columns:
    if len(dftrain[col].unique())==1:
        single.append(col)
    
dftrain.drop(columns=single,inplace=True)  
dftest.drop(columns=single,inplace=True)

In [13]:
dftrain.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=366)

In [14]:
dftest.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=365)

In [15]:
# to drop the columns with minimum variance
single=[]
#print(dftrain.columns)
#print(len(dftrain[[columns=1).unique()))
for col in dftrain.columns:
    if len(dftrain[col].unique())==1:
        single.append(col)
    
dftrain.drop(columns=single,inplace=True)  
dftest.drop(columns=single,inplace=True)

In [16]:
dftrain.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=366)

In [17]:
dftest.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=365)

In [18]:
dftrain.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Label Encoding the data
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [20]:
newdf=dftrain.apply(le.fit_transform)
newtest=dftest.apply(le.fit_transform)

In [21]:
newdf.shape,newtest.shape

((4209, 366), (4209, 365))

In [22]:
x_train=newdf.drop(['y'],axis=1)

In [23]:
x_train.shape,newtest.shape

((4209, 365), (4209, 365))

In [24]:
# Performing Principal Componenet Analysis on the label encoded data for dimentionality reduction
from sklearn.decomposition import PCA

In [25]:
sklearn_pca=PCA(n_components=10)
output_pca=sklearn_pca.fit_transform(x_train)
output_pca

array([[-2.10392518e+03,  8.62388945e-01, -1.84271114e-01, ...,
         4.09573528e+00,  1.64375030e+00, -4.97578397e-01],
       [-2.10290920e+03,  7.84932754e-01,  1.62709020e+00, ...,
        -4.83073882e-01,  9.24947609e-01, -6.21397870e-01],
       [-2.10191260e+03,  1.64356376e+01,  1.23258860e+01, ...,
         1.13266637e+00,  1.69341856e+00, -4.31051745e-01],
       ...,
       [ 2.10192644e+03,  2.87670119e+01,  1.49202369e+01, ...,
         3.10789269e+00, -3.54895683e-01,  1.06162321e-01],
       [ 2.10292655e+03,  2.27279761e+01,  1.72985538e+00, ...,
        -2.99735277e+00,  1.60511143e+00,  2.07246748e+00],
       [ 2.10392601e+03, -1.75454605e+01, -9.82681801e+00, ...,
         9.55184379e-01,  6.90365267e-01,  6.35631892e-01]])

In [26]:
test_transformed = sklearn_pca.transform(newtest)

In [27]:
explained_variance=sklearn_pca.explained_variance_ratio_
explained_variance

array([9.99659608e-01, 1.38083753e-04, 7.69770342e-05, 4.40107808e-05,
       3.31849481e-05, 2.66009200e-05, 5.73061934e-06, 2.67845282e-06,
       1.56203752e-06, 1.05802559e-06])

In [28]:
# performing xgboost on label encoded and dimentionally reduced data
import xgboost as xgb
model=xgb.XGBClassifier(random_state=1, learning_rate=0.01)
model.fit(output_pca, newdf['y'])

XGBClassifier(learning_rate=0.01, objective='multi:softprob', random_state=1)

In [29]:
# making prediction on the test set.
preds=model.predict(test_transformed)

In [32]:
print (preds)

[ 810  328  569 ... 1180 1952  666]